{% extends 'Front/layout.html.twig' %}

{% block title %}Etre En Phase{% endblock %}

{% block content %}



    <main>

{#        <div style="height: 150px" class="imgBox">#}

{#        </div>#}

        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    {{ render(controller('App\\Controller\\Front\\MainController:home')) }}

                </div>
            </div>

            <br>

        </div>
            {% if campagne %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                {{ campagne.title }}


                            </h3>

                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="imgCoverCampagne">
                            <img style="width: 100%;  " class="img-fluid"
                                 src="{{ campagne.image is not null ? asset('uploads/actuality/' ~ campagne.image)  : 'http://via.placeholder.com/640x360' }}"
                                 alt="">
                        </div>


                    </div>
                </div>

                <div class="container">
                <div class="row">
                    {% for  actualityHasProducts  in  campagne.actualityHasProducts %}
                        <div style="border-right: 1px solid #cfaf94; margin-bottom:4%" class="col-md-3">
                            <div class="containerImg image"><a
                                        href="{{ path('product_view', {'id': actualityHasProducts.product.id}) }}">
                                    <img class="img-thumbnail"
                                         src="{{ actualityHasProducts.product.image is not null ? asset('uploads/product/' ~   actualityHasProducts.product.id ~ '/' ~ actualityHasProducts.product.image)  : 'http://via.placeholder.com/640x360' }}"
                                         alt="">

                                    <b style="color: #cfaf94 !important; ">{{ actualityHasProducts.product.name }}</b>

                                </a>

                                <div class="middle">
                                    <div class="text "><a href="{{ path('product_view', {'id': actualityHasProducts.product.id}) }}"><b>Voir le
                                                produit</b></a></div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>

            {% endif %}
            <br><br><br><br>
            <hr>
{#            <div class="img-holder" data-image="{{ asset('parallax/parallax.png') }}"></div>#}



        </div>

    </main>


{% endblock %}

{% block js %}
    <script>
        $('.parallaxe').each(function (index){
            $(this).data('image',$(this).attr('src') )
            $(this).imageScroll();
        })



    </script>

{% endblock %}