<nav class="navbar navbar-expand-md navbar-dark fixed-top">
{#    <img src="{{ asset('logo/debuyer.png') }}">#}
{#    <img  style="width: 6%; position:absolute; margin-bottom: 2%; left: 90%; top: 6%" class="img-thumbnail" src="{{ asset('logo/amf.jpeg') }}" alt="">#}
    <h2  style="position: absolute; top: 24%; left: 26%">ETRE EN PHASE</h2>

{#    <img  style="width: 8%; position:absolute; left: 1%; top: -24%; background-color: transparent" class="img-thumbnail" src="{{ asset('logo/debuyer.png') }}" alt="">#}

    <div class="d-md-none">
        <div class="row">
            <div class="col-sm-12">

                    <ul class="navbar-nav ml-auto">

{#                        <img  style="width: 100%; position: absolute; left: 136px; top: -2px " class="img-thumbnail" src="{{ asset('logo/amf.jpeg') }}" alt="">#}


{#                        <li class="nav-item {{ app.user == true ? 'dropdown' :''}} ">#}
{#                            <a class="nav-link {{ app.user == true ? 'dropdown-toggle' :''}} " href="{{ app.user == true ?  ''  :path('app_login')}}" id="navbarDropdown" role="button" data-toggle="{{ app.user == true ? 'dropdown' :''}}" aria-haspopup="true" aria-expanded="false">#}
{#                                {% if app.user %}#}
{#                                    <span style="color:white;">{{ app.user.username }}</span>#}
{#                                {% else %}#}
{#                                    <i style="color: white" class="fas fa-user"></i>#}

{#                                {% endif %}#}
{#                            </a>#}
{#                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                                {% if app.user %}#}
{#                                    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>#}

{#                                {% endif %}#}

{#                            </div>#}

{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('cart_view') }}"><i style="color: white" class="fas fa-shopping-cart"></i>#}

{#                            </a>#}
{#                        </li>#}

                    </ul>
                </div>

{#            </div>#}
            </div>
        </div>
    </div>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul style="z-index: 50" class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('main') }}"><b>Accueil</b> <span class="sr-only">(current)</span></a>
            </li>

            {% for menu in menus %}


                {% if menu.parent is null %}
                    <li class="nav-item active  {{ menu.children |length >0 ? 'dropdown' : '' }} ">
                        <a class="nav-link  {{ menu.children |length >0 ? 'dropdown-toggle' : '' }}" href="{{ menu.page is not null ? path('page_view', {'id': menu.page.id}) : path('product_product_by_menu', {'id': menu.id}) }}"  {{ menu.children |length >0 ? 'id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"' : '' }} >
                            <b>{{ menu.name }}</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            {% for children in menu.children %}
                                <a class="dropdown-item" href="{{ children.page is not null ? path('page_view', {'id': children.page.id}) : path('product_product_by_menu', {'id': children.id}) }}"> <b>{{ children.name }}</b></a>


                            {% endfor %}

                        </div>
                    </li>

                {% endif %}

            {% endfor %}

{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="{{ path('tutorial_and_recipe_main') }}"><b>Tutoriels & Recettes</b> <span class="sr-only">(current)</span></a>#}
{#            </li>#}

        </ul>

{#        <div style="margin-top: 3%" class="navbar-collapse collapse  order-3 ">#}
{#            <ul class="navbar-nav ml-auto">#}

{#                <div class="form-inline ml-auto">#}


{#                    {{ render(controller('App\\Controller\\Front\\SearchController:index')) }}#}

{#                </div>#}

{#                <li class="nav-item {{ app.user == true ? 'dropdown' :''}} ">#}
{#                    <a class="nav-link {{ app.user == true ? 'dropdown-toggle' :''}} " href="{{ app.user == true ?  ''  :path('app_login')}}" id="navbarDropdown" role="button" data-toggle="{{ app.user == true ? 'dropdown' :''}}" aria-haspopup="true" aria-expanded="false">#}
{#                        {% if app.user %}#}
{#                            <span style="color:white;">{{ app.user.username }}</span>#}
{#                            {% else %}#}
{#                                <i style="color: white" class="fas fa-user"></i>#}

{#                        {% endif %}#}
{#                    </a>#}
{#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        {% if app.user %}#}
{#                            {% if is_granted('ROLE_CSE') %}#}
{#                                <a class="dropdown-item" href="{{ path('cse_main') }}">Gestion</a>#}

{#                            {% endif %}#}

{#                            <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>#}

{#                        {% endif %}#}

{#                    </div>#}

{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{{ path('cart_view') }}"><i style="color: white" class="fas fa-shopping-cart"></i>#}

{#                    </a>#}
{#                </li>#}

{#            </ul>#}
{#        </div>#}

    </div>
</nav>

{#<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">#}
{#    <a class="navbar-brand" href="#">Navbar</a>#}
{#    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}

{#    <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">#}
{#        <ul class="navbar-nav mr-auto">#}
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#">Link</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
{#            </li>#}
{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
{#                <div class="dropdown-menu" aria-labelledby="dropdown01">#}
{#                    <a class="dropdown-item" href="#">Action</a>#}
{#                    <a class="dropdown-item" href="#">Another action</a>#}
{#                    <a class="dropdown-item" href="#">Something else here</a>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#        <form class="form-inline my-2 my-lg-0" data-children-count="1">#}
{#            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}
{#    </div>#}
{#</nav>#}
