{% extends 'Front/layout.html.twig' %}

{% block title %}AMF{% endblock %}

{% block content %}

    <div class="main">
        <div class="container">
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->


                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">

                        <h3>Coordonnées de l'entreprise</h3>
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_row(form.name) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.legalForm) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.effective) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.siret) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.siretConcerned) }}
                        </div>




                        <ul id="companyHasAddresses"
                            data-prototype="{{ form_widget(form.companyHasAdresses.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li></li>'|e }}"
                            data-widget-counter="{{ form.companyHasAdresses|length }}">
                            {% for companyHasAdress in form.companyHasAdresses %}
                                <li>
                                    {{ form_errors(companyHasAdress) }}
                                    {{ form_widget(companyHasAdress) }}
                                </li>
                            {% endfor %}
                        </ul>

                        <button type="button"
                                class="add-another-collection-widget btn btn-primary"
                                data-list-selector="#companyHasAddresses">Ajouter une adresse</button>



                        <div class="form-group">
                            {{ form_row(form.nafApe) }}
                        </div>

                        <h3>Coordonnées reponsable CSE</h3>

                        <div class="form-group">
                            {{ form_row(form.firstname) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.lasname) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.numberPhone) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.dayOfPermanence) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.email) }}
                        </div>



                        {#                <div class="form-group">#}
                        {#                    {{ form_row(form.socialReason) }}#}
                        {#                </div>#}

                        <div class="alert"></div>
                        {{ form_row(form.send) }}
                        <div class="d-none">{{ form_rest(form) }}</div>


                        {{ form_end(form) }}
                    </div>
                </section>

            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list-selector'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') || list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);

                $collectionHolder = $('ul#companyHasAddresses');
                $collectionHolder.find('li').each(function() {
                    addTagFormDeleteLink($(this));
                });
            });
        });
        function addFormToCollection() {
            // ...

            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }
        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<button class="btn btn-danger" type="button ">Supprimer</button>');
            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>


{% endblock %}