{% extends 'Admin/layout.html.twig' %}

{% block title %}Page{% endblock %}

{% block content %}


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Page</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('admin_main') }}">Accueil</a></li>
                            <li class="breadcrumb-item "><a href="{{ path('admin_page_main') }}">Page</a></li>
                            <li class="breadcrumb-item active">Ajout / édition</li>

                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.menu) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.content) }}
                </div>


                {{ form_row(form.send) }}
                {{ form_end(form) }}
            </div>
        </section>

    </div>
{% endblock %}